.colorchange {
    background-color: #20232b;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: #20232b;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.ring {
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #ff0303;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #047a1a;
    } 

    
}

.ring::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgbla(255,255,255,0.3);
}

span.loading{
    color : rgb(177, 175, 175);
    font-size : 38px;
    text-transform : uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@keyframes text {
    50%{
        color: #22252d
    }
    
}

