.profile-pic-div{
    aspect-ratio: 1/1;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(4, 0, 0);
}
@media only screen and (max-width: 480px){
    .profile-pic-div{
        aspect-ratio: 1/1;
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-20%);
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid rgb(4, 0, 0);
    }
    .form-container{
        max-height:500px;
    }
    .form-group{
        padding-top: 50px;
    }
}
#photo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

  
.container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 70%;
    margin-left: 13%;
}

.button {
    position: relative;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}