.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    color: white;
}
/* .css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root{
    color: white;
} */
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root{
    color: white;
}